<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gymflex</title>
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>
    <header>
		<a href="#" class="logo">Gym<span>flex</span></a>
		<!--<div class="toggle"><img src="img/toggle.png"></div>-->
		<div class="nav__container--navigation"> 
			<ul> <!--
				<a class="btn" href="#menu">Menu</a> 
				<a class="btn" href="#acerca">Acerca</a> -->
				<a class="btn" href="/login">Login</a> 
				<a class="btn" href="/signup">Register</a> 
			</ul> 
		</div> 
	
	</header>
	
    <div class="banner">
		<video src="video/bg.mp4" autoplay muted loop type="mp4"></video>
		
        <div class="textBox">
            <h2>More Than Fitness</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae recusandae eos architecto necessitatibus,
                 quae tempore deleniti a ad! Facere dicta placeat voluptatem illum aspernatur eius laboriosam doloribus 
                 delectus ut ipsa, quae ea voluptatibus. Laudantium provident sunt quis adipisci similique eligendi.</p>
            <a href="#">Read More</a>
        </div>
      <div class="imgBox">
        <img src="img/man.png">
      </div>
      <ul class="sci">
        <li><a href="#"><img src="img/facebook.png"></a></li>
        <li><a href="#"><img src="img/twitter.png"></a></li>
        <li><a href="#"><img src="img/instagram.png"></a></li>
      </ul>
    </div>
</body>
</html>